<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8">
	<title>index.html</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<style>
		.color1 {color: #c3d4e8;}
		.color2 {color: #f3f3f3;}
		.color3 {color: #1d202f;}
		.color4 {color: #79787e;}
		.color5 {color: #e5e5e5;}
	</style>
</head>
<body>
	<div>
		<div class="py-4 text-center">
  			<header>
  				<h1><a class="text-decoration-none" href="/questions/">GETA+</a></h1>
  			</header>
   		</div>
        <div class='container my-3'>
    		<div class="border border-dark p-3">
      			<h2>{{question.title}}</h2>
				{{question.subject}}, {{question.create_date}}
				<hr>
				<form class="form-check my-3">
					<h3>{{question.content}}</h3><br>
					<div class="form-group">
        				<label class="form-check-label">1. {{question.ans1}}</label>
					</div>
					<div class="form-group">
        				<label class="form-check-label">2. {{question.ans2}}</label>
					</div>
					<div class="form-group">
        				<label class="form-check-label">3. {{question.ans3}}</label>
					</div>
					<div class="form-group">
        				<label class="form-check-label">4. {{question.ans4}}</label>
					</div>
					<input onclick="location.href='../answer/create/{{question.id}}'" class="btn btn-primary" type="button" value="응시">
    				<input onclick="location.href='../update/{{question.id}}'" class="btn btn-primary" type="button" value="수정">
					<input onclick="location.href='../delete/{{question.id}}'" class="btn btn-danger" type="button" value="삭제">
					<input onclick="location.href='../../'" class="btn btn-secondary" type="button" value="취소">
				</form>
    		</div>
  		</div>
		<br>
        <div class='m-2'>
        <div>
            더보기&nbsp;
        	<a href='https://stonesy927.tistory.com/' target='_blank'>
            Blog
        	</a>
        	&nbsp;&nbsp;
        	<a href='https://github.com/ChoSeoyoung' target='_blank'>
            GitHub
        	</a>
      	</div>
      <div>
        Copyright 2022. SeoyoungCho. All rights reserved.
      </div>
    </div>
	</div>
</body>
</html>