<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8">
	<title>index.html</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
	<style>
		.color1 {color: #c3d4e8;}
		.color2 {color: #f3f3f3;}
		.color3 {color: #1d202f;}
		.color4 {color: #79787e;}
		.color5 {color: #e5e5e5;}
	</style>
</head>
	<div>
		<div class="py-4 text-center">
  			<header>
  				<h1><a class="text-decoration-none" href="./">GETA+</a></h1>
  			</header>
   		</div>
   		<div class="border border-dark">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
            		<li class="nav-item active">
						<a class="nav-link" href="./create">출제하기</a>
					</li>
        		</ul>
				</div>
			</nav>
		</div>
        <div class='container my-3'>
			<table class="table table-hover">
				<thead>
					<tr class="thead-dark">
					<th>번호</th>
					<th>제목</th>
					<th>작성일시</th>
				</tr>
				</thead>
				<tbody>
					{% if question_list %}
					{% for question in question_list %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td><a href="./question/{{question.id}}">{{question.title}}</a></td>
						<td>{{ question.create_date }}</td>
					</tr>
					{% endfor %}
					{% else %}
					<tr>
						<td colspan="3">질문이 없습니다.</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
        <div class='m-2'>
        <div>
            더보기&nbsp;
        	<a href='https://stonesy927.tistory.com/' target='_blank'>
            Blog
        	</a>
        	&nbsp;&nbsp;
        	<a href='https://github.com/ChoSeoyoung' target='_blank'>
            GitHub
        	</a>
      	</div>
		<div>
        Copyright 2022. SeoyoungCho. All rights reserved.
      	</div>
    	</div>
	</div>
</body>
</html>